@import url('https://fonts.googleapis.com/css2?family=Montserrat');
body {
    font-family: 'Montserrat', sans-serif;

}
.container {
    margin: 3% auto;
    text-align: center;

}

.task-input {
    background-color: rgb(230, 230, 227);
    padding: 5px;
    border: 0.5px solid #ccc;
    width: 50%;
    border-radius:7px;
}

.task-btn {
    font-size: 1.3em;
    background-color: gold;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.bx.bx-plus-circle {
    font-size: 1.3em;
    color: black;
}

.show {
    margin: 3%;
    display: none;
}

.arroz {
    display: flex;
    font-size: 25px;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
}


.btn-del {
    cursor: pointer;
    padding: 1px 5px;
    font-size: 1.5em;
    margin: 0 15px

}

.alert {
    display: none;
    margin: 3% auto;
    max-width: 70%;
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(240, 81, 81);
}

.accomplished {
    display: none;
    background-color: chartreuse;
    width: 40%;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 5% auto;
}

.div-flex i {
    margin: 0 1%;
    cursor: pointer;
}